@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: #1a1a1a;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans", serif;
}

.container {
  /* border: 2px solid red; */
  background-color: #2f3133;
  padding: 1rem;
  max-width: 90vw;
  width: 400px;
  border-radius: 5px;
}

.container h2 {
  margin-bottom: 1rem;
}

.product {
  background-color: #586163;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.product button {
  background-color: rgb(59, 161, 45);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  color: #f1f1f1;
  font-size: 14px;
  transition: background-color ease-in-out 0.3s;
}

.product button:hover {
  background-color: rgb(41, 112, 31);
}

#checkout-btn {
  background-color: rgb(59, 161, 45);
  margin-top: 1.5rem;
  color: #f1f1f1;
  outline: none;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color ease-in-out 0.3s;
}

#cart-items {
  margin-top: 20px;
}

#cart-items p {
  margin-top: 1rem;
}

#checkout-btn:hover {
  background-color: rgb(41, 112, 31);
}

.hidden {
  display: none;
}
